<div class="container" style="margin-top: 20px">

  <app-github-followers></app-github-followers>

<!--  <app-posts></app-posts>-->
<!--  <app-reset-password></app-reset-password>-->


<!--  <app-singup-form></app-singup-form>-->


<!--  <app-nouveau-cours-form></app-nouveau-cours-form>-->


<!--  <app-new-course-form></app-new-course-form>-->
<!--  <contact-form></contact-form>-->

<!--  <app-zippy title = "Shipping details">-->
<!--    Shipping  Details Content-->
<!--  </app-zippy>-->

<!--  <input type="text" [appInputFormat]="'lowercase'"/>-->

  <!--<app-favorite>-->

  <!--</app-favorite>-->

  <!--<p> 112</p>-->
  <!--  <app-favorite [is-Favorite] ="post.isFavorite" (change)="onFavoriteChange($event)" ></app-favorite>-->
  <!--</div>-->


  <!--    <app-like [likesCount]="tweet.likeCount" [isActive]="tweet.isLiked"></app-like>-->


  <!--  <ul class="nav nav-pills">-->
  <!--    <li (click)="viewMode = 'map'" class="nav-item">-->
  <!--      <a class="nav-link" [class.active]="viewMode == 'map'" aria-current="page" href="#">Map view</a>-->
  <!--    </li>-->
  <!--    <li (click)="viewMode = 'list'" class="nav-item">-->
  <!--      <a [class.active]="viewMode == 'list'" class="nav-link" href="#">Link</a>-->
  <!--    </li>-->
  <!--  </ul>-->
  <!--  <div [ngSwitch]="viewMode">-->
  <!--    <div *ngSwitchCase="'map'">Map view Content</div>-->
  <!--    <div *ngSwitchCase="'list'">List view Content</div>-->
  <!--    <div *ngSwitchDefault>Otherwise</div>-->
  <!--  </div>-->

</div>

